@model RegisterModel
<div>
    <form asp-action="Register" asp-controller="User" method="post">
        <h2>RegisterUser</h2>

        <div class="row justify-content-center">
            <form asp-action="Register" asp-controller="User" method="post">
                <div class="form-group col-12 col-lg-8 mb-3">
                    <label class="form-label" asp-for="Email">Email</label>
                    <input class="form-control" asp-for="Email" type="email">
                    <span asp-validation-for="Email"></span>

                </div>
                <div class="form-group  col-12 col-lg-8 mb-3">
                    <label class="form-label" asp-for="Password">Password</label>
                    <input class="form-control" asp-for="Password" type="password">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group col-12 col-lg-8 mb-3">
                    <label class="form-label" asp-for="PasswordConfirmation">Confirm Password</label>
                    <input class="form-control" asp-for="PasswordConfirmation" type="text">
                    <span asp-validation-for="PasswordConfirmation"></span>
                </div>

                <button class="btn btn-secondary col-12 col-lg-8 mb-3 ">Submit</button>
            </form>
        </div>
        @section Scripts
        {
            <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

        }

    </form>
</div>