<div>
    <form action="~/user/register" method="post">
        <label for="email-input">Email:</label>
        <br>
        <input type="text" id="email-input" name="email"/>
        <br/>
        <label for="pswd-input">Password</label>
        <br/>
        <input type="password" id="pswd-input" name="password" />
        <br/>
        <label for="pswd-confirm-input">Password confirmation:</label>
        <br>
        <input type="password" id="pswd-confirm-input" name="passwordConfirmation" />
        <br/>
        <label for="email-input">Email:</label>
        <br>
        <input type="text" id="email-input" name="address" />
        <br /><label for="email-input">Email:</label>
        <br>
        <input type="text" id="email-input" name="birthDate" />
        <br /><label for="email-input">Email:</label>
        <br>
        <input type="text" id="email-input" name="address2"/>
        <br /><label for="email-input">Email:</label>
        <br>
        <input type="text" id="email-input" name="postcode" />
        <br /><label for="email-input">Email:</label>
        <br>
        <input type="text" id="email-input" name="Fullname" />
        <br /><label for="email-input">Email:</label>
        <br>
        <input type="text" id="email-input" name="passwordHint"/>
        <br /><label for="email-input">Email:</label>
        <br>
        <input type="text" id="email-input" name="isEULAConfirmationTaken" />
        <br /><label for="email-input">Email:</label>
        <br>
        <input type="text" id="email-input" name="IsNewsletter" />
        <br />
        <br/>
        <input type="submit" value="Login"/>
    </form>
</div>