@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div header>
    Hello there from div element
</div>

<summary>
    <time></time>
    <date-tag></date-tag>
</summary>

<user user-email="user@email.com"></user>

<orders view-context="@(new ViewContext())" ></orders>

<cache ></cache>