@model BookModel[]

@{
    ViewBag.Title = "Books";
    Layout = "_Layout";
}
<div class="row">
    <div class="col-12">
        <h2>Books</h2>
    </div>
</div>
<a class="btn btn-primary" asp-action="Create" asp-controller="Book">Create</a>

<div>
@foreach (var book in Model)
{
    <div>
        <h4>@book.Name</h4>
        <h6>@book.ISBN</h6>
        <p>@book.Price</p>
        <p>@book.Year</p>
    </div>
}
</div>